.v-text-field input {
  font-size: 0.875rem;
}
.v-field__outline {
  color: rgba(var(--v-border-color), 0.5);
}
.inputWithbg {
  .v-field--variant-outlined {
    background-color: rgba(var(--v-theme-on-surface), 0.04);
  }
}
