@use './variables' as *;

html {
    .bg-success {
        color: white !important;
    }

    .bg-primary {
        color: $white !important;
    }

    .bg-secondary {
        color: $white !important;
    }

    .bg-warning {
        color: $white !important;
    }
}
.border,
.v-divider {
    border-color: rgba(var(--v-border-color), 1) !important;
}

.lh-0{
    line-height: 0;
}
.lh-normal{
    line-height: normal;
}

/* ag-grid */
.ag-paging-panel { 
    border-top: 0px !important;
} 

.ag-link__spinner {
  width: 1em;
  height: 1em;
  display: inline-block;
  border: 2px solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: ag-link-spin 0.8s linear infinite;
}
@keyframes ag-link-spin { to { transform: rotate(360deg); } }

.ag-link__loading-icon { display: inline-flex; line-height: 0; }

.border-top-1-gray {
  border-top: 1px solid #e8e8e8;
}
.border-bottom-1-gray {
  border-bottom: 1px solid #e8e8e8;
}
